* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: lightseagreen;
    text-decoration: none;
    font-size: 30px;
}

.container {
    width:96vw;
    margin: auto;
}

header {
    height: 20vh;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background-color: white;
}

/*Se togli completamente questa classe, il comportamento resta lo stesso*/
.add {
    position: absolute;
    top: 30vh;
}

.title, .expl {
    position: absolute;
    bottom: 0;
}

.expl {
    right: 0;
}

main {
    height: 75vh; /*Non cambia se togli*/
    margin-top: 5vh;
    background-color: white; /*Non cambia se togli*/
}

.preview {
    width: 16vw;
    height: 32vh;
    float: left;
}

img {
    width: 10vw;
    margin: auto;
    display: block;
}

.preview > span {
    display: block;
    text-align: center;
}

.preview > span:last-child {
    color: darkgrey;
}

/*Se togli completamente questa classe, il comportamento resta lo stesso*/
.clearfix {
    clear: both;
    display: table;
    content: '';
}
