<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout</title>
    </head>
    <body>
        <div class="container">

            <header>
                Testo dell'header
            </header>
            
            <main class="clearfix">

                <div class="left">
                    <ol>
                        <li>
                            asdf
                        </li>
                        <li>
                            asdf
                        </li>
                        <li>
                            asdf
                        </li>
                        <li>
                            asdf
                        </li>
                        <li>
                            asdf
                        </li>
                        <li>
                            asdf
                        </li>
                        <li>
                            asdf
                        </li>
                    </ol>
                </div>

                <div class="center">
                    <ul>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium repudiandae quae quo deserunt obcaecati recusandae, praesentium enim autem dolorum dignissimos tempore hic aliquid rem blanditiis velit nihil iure sed officia?
                        </li>

                    </ul>
                </div>

                <div class="right">
                    <li>
                        asdf
                    </li>
                    <li>
                        asdf
                    </li>
                    <li>
                        asdf
                    </li>
                    <li>
                        asdf
                    </li>
                    <li>
                        asdf
                    </li>
                    <li>
                        asdf
                    </li>
                    <li>
                        asdf
                    </li>
                </div>
                    
            </main>

            <footer>
                Testo del footer
            </footer>
        
        </div>
    </body>
</html>